.about-us-container {
    background: linear-gradient(to bottom right, #f9ecec, #fff);
    padding: 20px;
    border-radius: 10px;
  }
  
  header h1 {
    font-family: 'Arial', sans-serif;
    font-size: 2.5rem;
    color: #333;
  }
  
  .about-content .col-md-4 {
    margin-bottom: 20px;
  }
  
  .about-content h2 {
    font-family: 'Arial', sans-serif;
    font-size: 1.5rem;
    color: #555;
  }
  
  .about-content p {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    color: #777;
  }
  
  .products-section img {
    max-width: 200px;
    border-radius: 10px;
  }
  
  .products-section img.mx-3 {
    margin: 0 15px;
  }
  